.extruder {
  position: absolute;
  transform: translateX(-50%);
  width: 100px;

  &.pulse {
    animation: calc(var(--timeChunk) * 5) 1 slurp;
  }

  @keyframes slurp {
    0% {
      transform: translateX(-50%) scale(1);
    }

    20% {
      transform: translateX(-50%) scale(0.9, 1.3);
    }

    100% {
      transform: translateX(-50%) scale(1);
    }
  }
}
