.jar {
  position: absolute;
  display: flex;
  flex-flow: row wrap-reverse;
  align-content: flex-start;
  justify-content: flex-start;
  padding: 4px;

  border: 4px solid gray;
  border-top: 0;
  width: 196px;
  height: 250px;
  border-radius: 0 0 20px 20px;
  top: calc(var(--conveyorTop) + 20px);
  left: 640px;
}
