
.oven {
  --heat: -20px;
  
  position: absolute;
  height: 100px;
  border: 4px solid gray;
  border-radius: 20px 20px 0 0;
  background-color: #d2d2d2;
  box-shadow: 0px 16px 15px var(--heat) rgba(255, 68, 0, 0.87);

  .led-on,
  .led-off {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0 auto;
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }

  .led-on {
    background-color: #ff5148;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px,
      inset rgb(102, 0, 0) 0 -1px 9px, #f46464 0 2px 14px;
  }

  .led-off {
    background-color: #b7b7b7;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px,
      inset rgb(94, 94, 94) 0 -1px 9px, #ffffff 0 2px 14px;
  }

  .temperature {
    position: absolute;
    color: rgb(212, 0, 0);
    font-family: "Digital Dismay", sans-serif;
    font-size: 24px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);

    background-color: #515151;
    border: 2px solid black;
    padding: 8px;
  }
}