.stamper {
  .body {
    position: absolute;
    transform: translateX(-50%);
    width: 80px;
  }
  .press {
    position: absolute;
    transform: translateX(-50%);
    width: 80px;

    &.pulse {
      animation: calc(var(--timeChunk) * 5) 1 stamp;
    }

    @keyframes stamp {
      0% {
        transform: translate(-50%, 0);
      }
      20% {
        transform: translate(-50%, 50%);
      }
      100% {
        transform: translate(-50%, 0);
      }
    }
  }
}
