.biscuit {
  --left: 0px;
  --transition: 0.1s;
  --color: #e8ad59;

  border: 1px solid gray;
  border-radius: 4px;
  transition-property: left width height;
  transition-duration: var(--transition);
  transform: translateX(-50%);
  background-color: var(--color);
}

.created,
.stamped {
  position: absolute;
  left: calc(var(--left) * 1px);
  bottom: 0;
}

.created {
  width: 15px;
  height: 15px;
}

.stamped {
  width: 25px;
  height: 10px;
}
