@import url('http://fonts.cdnfonts.com/css/digital-dismay');

:root {
  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}